html {
	height: 100%;
}

body {
	height: 100%;
	background-color: lightblue;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px;	/*  hier nach links schieben */
}

#first {
	position: absolute;
	left: 100px;
}

#second {
	position: absolute;
	left: 350px;
}

#third {
	position: absolute;
	left: 600px;
}

#fourth {
	position: absolute;
	left: 1100px;
}

#fifth {
	position: absolute;
	left: 1350px;
}

#sixth {
	position: absolute;
	left: 1600px;
}